@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --gap: 1.25rem;
  --speed: 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --closed: 5rem;
  --open: 30rem;
  --accent: #ff6b35;
}

/* ===== Scrollbar Hide for all scrollable containers ===== */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*---------------------------------------------------------------- portfolio Start Hare */
.portfolioBody {
  font-family: Manrope, sans-serif;
  background-color: #161616;
  background-image: url("/portfolio/636f61f84679d8dae732906e_Dark-Background-Pattern.svg");
  background-position: 0 0;
  background-size: 80px;
  background-attachment: scroll;
  height: auto;
}

/*---------------------------------------------------------------- cartonchile Start Hare */
.cartonchiletop {
  font-family: Manrope, sans-serif;
  background-color: #161616;
  background-image: url("/portfolio/636f61f84679d8dae732906e_Dark-Background-Pattern.svg");
  background-position: 0 0;
  background-size: 50px;
  background-attachment: scroll;
  height: auto;
}

.desp {
  background-color: white;
  background-image: url("/cartonchile/geometric.svg"); /* <-- 'cartonchile' */
  background-position: 0 0;
  background-size: 100px;
  /* background-repeat: repeat; optional, but clearer */
  background-attachment: scroll;
  height: auto;
}
